.navbar {
    background-color: black;
    position: top fixed;
    color: whitesmoke;
}
.bg-light {
    background-color: black;
}
/* a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: white;
    text-decoration: none;
}
a:hover{
    color: white;
    text-decoration: none;
}
a   :active{
    color: white;
    text-decoration: none;
} */

a.navbar-brand{
    background-color: black;
    color: white; 
}
ul.nav.nav-tabs{
    background-color:black;
    color:white;
    text-align: right;
    /* display: block; */
}
a.nav-link{
    text-decoration: none;
    color: white;
    /* align-content: stretch; */
}
