.jumbotron {
    background-color: black;
}
.card-body{
    background-color: black;
}
body {
    color: whitesmoke;
    /* text-align: center; */
}

.container {
    margin: 1rem 1rem;
    text-align: left;
    align-content: space-around;
}