.jumbotron {
    /*background-color: black;*/
}

.card-body{
    background-color: black;
    color: whitesmoke;
}
body {
    color: whitesmoke;
     /*text-align: center;*/
}

.container {
    text-align: left;
    align-content: space-around;
}