.p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card {
    background: transparent;
    border: 5rem black;
    border-radius: 10px;
}
.card-body {
    background: transparent;
    border: 5rem black wave;
}

.jumbotron {
    background: black;
}