.p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.card {
    background: transparent;
    border: 5rem black;
    border-radius: 10px;
    /*align-content: center;*/
}
.card-body {
    text-align: center;
    align-content: center;
    background: transparent;
    border: 5rem black wave;
}

.jumbotron {
    background: black;
}
.card-group {
    /*display: grid;*/
}