
i {
    display: inline;
    padding: 20px;
}
#socialMedia {
    
    /* color: blue */
}
footer {
    /*background-color: black;*/
    /**/
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    : center;
}