
i {
    display: inline;
    padding: 20px;
}
.socialMedia {

    display:flex;
    justify-content: center;
    flex-direction: row;

}
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
}