
img {

    display: flex;
    max-width: 350px;
    max-height: 350px;
    align-content: space-around;
}

.jumbotron {
    border: 1rem;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem;
    outline: whitesmoke;

}
body {
    height: 100vh;
    background: linear-gradient(black, darkred 88%) fixed;
}
header {
   position: fixed;
}
footer {
   /* position: fixed; */
   /*background-color: black;*/
   text-align: center;
       left: 0;
       bottom: 0;
       width: 100%;
       color: white;
}

.proj1img {
   width: 75%;
}

.proj2img {
   width: 75%;
}
@media screen and (max-width: 768px){
body {
   /*background-color: black;*/
   /*color: black;*/
}
    img {
        width: 25%;
        height: 25%;
        ;
    }
 .jumbotron{

     color: whitesmoke;
     /*background-color: black;*/
 }
}
.card-group{
    color: whitesmoke;
    /*background-color: black;*/
}
.card-title{
    color: whitesmoke;
    /*background-color: black;*/
}
.cardbody {
    color: whitesmoke;
    /*background-color: black;*/
}
.card-text{
    color: whitesmoke;
   /*background-color: black;*/
}

.p {
    margin-top: 0;
    margin-bottom: 0;
}

